* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    --header-height: 72px;
    --primary-color: #fff;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*Hiệu ứng cuộn trang*/
    /* font-family: Helvetica, Arial, sans-serif; */
    /* Chinh kieu chu khong chan */
}

@keyframes growth-bottom {
    from {
        opacity: 0.3;
        top: 70%;
    }
    to {
        opacity: 1;
        top: 0%;
    }
}