.header {
    display: flex;
    height: var(--header-height);
    /* background: linear-gradient(to right, #ffb347, #ffcc33); */
    background: #fff;
}

.header-narbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header-narbar__img {
    width: 50px;
    height: 50px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 6px;
    border-radius: 10px;
    padding: 5px; */
}

.header-narbar__logo {
    font-size: 3.3rem;
    font-weight: 600;
    padding: 12px;
    line-height: 100%;
}

.header-narbar__logo a {
    color: var(--primary-color);
    text-decoration: none;
}

.header-narbar-lists {
    align-items: center;
    display: flex;
}

.header-narbar__services {
    display: flex;
    list-style: none;
    font-size: 1.6rem;
}

.header-narbar__services-item {
    margin: 0 12px;
}

.header-narbar__services-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}


/* BANNNER */

.banner {
    width: 100%;
}

.banner-background {
    background-image: url("../img/empty-concrete-room-with-neon-lights.jpg");
    height: 670px;
    background-size: cover;
}

.banner-img {
    width: 100%;
}

.banner-text {
    color: #4b51e5;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text-heading {
    line-height: 100%;
    padding-bottom: 20px;
}

.jkgym {
    padding-top: 140px;
    font-size: 4.6rem;
}

.dq {
    padding-top: 80px;
    font-size: 4.6rem;
}

.vip {
    font-size: 7rem;
}

.banner-image {
    display: flex;
    justify-content: flex-end;
}

.banner-image-room {
    background: #fff;
    margin: 100px 0;
    height: 470px;
    width: 31%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 101%, 0% 101%);
    opacity: 0.9;
    transition: transform linear 0.2s, opacity linear 0.2s;
    will-change: transform;
    /* display: block; */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.banner-image-room:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
}

.banner-image-room__left {
    position: relative;
}

.room-left {
    position: absolute;
    left: -77%;
    /* overflow: hidden; */
}

.banner-image-room__center {
    margin-left: -42px;
    margin-right: -42px;
    position: relative;
}

.room-center {
    position: absolute;
    left: -156%;
}

.banner-image-room__right {
    margin-right: 10px;
    position: relative;
}

.room-right {
    position: absolute;
    left: -235%;
}


/* CONTAINER */

.container {
    margin-top: 30px;
}

.container-services {
    /* background: #999; */
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.services-heading {
    padding: 40px;
    color: var(--primary-color);
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    justify-content: center;
}

.services-description {
    padding: 0 0 40px 0;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    justify-content: center;
}

.services-item {
    display: flex;
    position: relative;
}

.services-item:hover .services-item-effect {
    display: flex;
    cursor: pointer;
    border-radius: 12px;
}

.services-item-effect {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    transform-origin: 50% top;
    animation: growth-bottom ease 0.5s;
}

.effect-name {
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
    line-height: 100%;
}

.services-item-name {
    /* position: absolute;
    display: block;
    top: 50%;
    left: 16%; */
    line-height: 100%;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primary-color);
    padding: 8px 0;
}

.services-item-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.services-item-description {
    line-height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}