.header {
    display: flex;
    height: var(--header-height);
    /* background: linear-gradient(to right, #ffb347, #ffcc33); */
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* animation: haha 1s; */
    /* background-color: rgba(0, 0, 0, 0.09); */
    /* border-bottom: solid 1px #ccc; */
}

.header-color {
    background-color: rgba(9, 9, 9, 0.8);
}

.header-color-none {
    background: transparent;
}

.grid-header {
    width: 100%;
    display: block;
    padding: 0 72px;
}

.grid-header.wide {
    max-width: 1400px;
    margin: 0 auto;
}

.header-narbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header-narbar__img {
    width: 50px;
    height: 50px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 6px;
    border-radius: 10px;
    padding: 5px; */
}

.header-narbar__logo {
    font-size: 3.3rem;
    font-weight: 600;
    padding: 12px;
    line-height: 100%;
}

.header-narbar__logo a {
    color: var(--primary-color);
    text-decoration: none;
}

.header-narbar-lists {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.header-narbar__services {
    display: flex;
    list-style: none;
}

.header-narbar__services-item {
    margin: 0 6px;
    font-size: 1.6rem;
    text-transform: uppercase;
    opacity: 1;
}

.header-narbar__services-item a:hover {
    cursor: pointer;
    color: #000;
    background-color: #ee6c0c;
}

.header-narbar__services-item a {
    text-decoration: none;
    font-weight: 600;
    display: block;
    line-height: 72px;
    padding: 0 12px;
}

.header-color-white {
    color: #fff;
}

.header-color-black {
    color: #000;
}

.JK {
    color: #ee6c0c;
}

.GYM {
    color: #000;
}